body {
    background-image: url(../images/presswall_it18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    background-color: aliceblue;
    opacity: 0.9;
    position: relative;
    margin: 10px;
    border-radius: 10px;
}
.chart {
    padding: 10px;
}