body {
    background-image: url(../images/bgr_green.jpg);
    /*background: rgba(141,234,53,0.87);*/
}
.logo-it-week {
    position: absolute;
    opacity: 0.6;
    border-radius: 120px;
    left: 85%;
    width: 14%;
}
.results {
    background-color: aliceblue;
    opacity: 0.85;
    position: relative;
    margin: 10px;
    border-radius: 10px;
}
.chart {
    width: 100%;
    opacity: 1 !important;
    height: auto;
    padding: 10px;
}